body {
  font-family: 'Roboto', sans-serif;
}

.titleText {
  font-family: 'Reem Kufi', sans-serif;
  font-weight: 600;
  color: black;
}

.icons-social, a {
  padding: 10px;
  font-size: 30px;
  -webkit-transition: text-shadow 0.2s linear;
  -moz-transition: text-shadow 0.2s linear;
  -ms-transition: text-shadow 0.2s linear;
  -o-transition: text-shadow 0.2s linear;
  transition: text-shadow 0.2s linear;
  text-shadow: none;
}

.icons-social, a:hover {
    color: #4d9cd7 !important;
    text-shadow: 1px 0px 20px #4d9cd7;
}

.tech-skills, div {
  margin: 5px;
  font-size: 30px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}