body {
  font-family: 'Roboto', sans-serif;
}

.titleText {
  font-family: 'Reem Kufi', sans-serif;
  font-weight: 600;
  color: black;
}

.icons-social, a {
  padding: 10px;
  font-size: 23px;
  -webkit-transition: text-shadow 0.2s linear;
  -moz-transition: text-shadow 0.2s linear;
  -ms-transition: text-shadow 0.2s linear;
  -o-transition: text-shadow 0.2s linear;
  transition: text-shadow 0.2s linear;
  text-shadow: none;
}

.big-quote {
  color: #4d9cd7 !important;
  font-weight: 800;
  font-family: initial
}

.icons-social, a:hover {
    color: #4d9cd7 !important;
    text-shadow: 1px 0px 20px #4d9cd7;
}

.tech-skills, div {
  margin: 5px;
  font-size: 30px;
}

.title-card {
  min-height: 120px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

@keyframes pulse {
  0% {
    opacity: 1;
    transform: none;
  }
  50% {
    opacity: .8;
    transform: scale(.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-slide-up {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}


.chevron {
  animation: fade-slide-up 1s 1s ease-out forwards,
  pulse 2s 3s ease-out infinite;
opacity: 0;
}
